{% load static %}

<!-- mobile -->
<section class="container option py-5 d-block d-md-none" id="options">
<div class="row">
  <!-- single option -->
  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="img-option rounded">
      <img src="{% static 'img/1.png' %}" alt="optionimg" class="img-fluid rounded position-relative">
    </div>
    <div class="option-text w-75 py-3 pr-3">
      مشاوره و راهنمایی
    </div>
  </div>
  <!-- single option -->
  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="img-option rounded">
      <img src="{% static 'img/2.png' %}" alt="optionimg" class="img-fluid rounded position-relative">
    </div>
    <div class="option-text w-75 py-3 pr-3">
      بررسی نیاز و پیش بینی نیاز بازار
    </div>
  </div>
  <!-- single option -->
  <div class="col-12 col-md-6 col-lg-4 my-2">
    <div class="img-option rounded">
      <img src="{% static 'img/3.png' %}" alt="optionimg" class="img-fluid rounded position-relative">
    </div>
    <div class="option-text w-75 py-3 pr-3">
      بررسی نقاط قوت و ضعف شما
    </div>
  </div>
</div>
</section>
<!-- mobile -->
<!-- pc -->
<section class="container my-5  options d-none d-md-block" id="optionss">
<div class="row justify-content-around ">
  <div class="item-opt">
    <div class="opt my-2">
      <div class=" wrapper">
        <img src="{% static 'img/3.png' %}" alt="option" class="img-fluid">
        <div class="title-opt text-center">
          بررسی نقاط قوت و ضعف شما
        </div>
      </div>
    </div>
  </div>

  <div class="item-opt">
    <div class="opt my-2">
      <div class=" wrapper">
        <img src="{% static 'img/2.png' %}" alt="option" class="img-fluid">
        <div class="title-opt text-center">
          بررسی نیاز و پیش بینی نیاز بازار
        </div>
      </div>
    </div>
  </div>

  <div class="item-opt ">
    <div class="opt my-2">
      <div class=" wrapper">
        <img src="{% static 'img/1.png' %}" alt="option" class="img-fluid">
        <div class="title-opt text-center">
          مشاوره و راهنمایی
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- pc -->